<h1>PAID</h1>
<div class="groups-container">
  <div class="back-to-group">
    <%= link_to("<  Back To Settlements Index", group_settlements_path(@group)) %> </br>
    <%= link_to("<  Back To #{@group.name}", group_path(@group)) %>
  </div>
  <h2>User Is Owed</h2>
  <div class="bill-show-table">
    <table>
      <tr>
        <th><%= "User" %></th>
        <th><%= "Amount*" %></th>
        <th><%= "Other Members Owe**" %>
      </tr>
      <% @settlement_payments.each do |s| %>
        <tr>
          <td><%= s.user.first_name %></td>
          <td><%= "$#{s.settlement_amount}"%></td>
          <% if s.settlement_amount > 0 %>
            <td><%=  "$#{(s.settlement_amount/(s.settlement.group.size - 1)).round(2)}"%>
          <% else %>
            <td><%= "User is not owed money"%></td>
          <% end %>
        <% end %>
      </tr>
    </table>
    <%= "*Amount = difference between what this user has paid and what the
      user should have paid (Total Owed Per Person)" %></br>
    <%= "**Other Members Owe = what each other user in group needs to pay this
    user so the settlement is settled" %>
  </div>
  <div class="close-settlement-button">
    <%= button_to("Close Settlement", flop_settlement_path(@settlement), method: :get, class: "button alert") %>
  </div>
</div>

<div class="groups-container">
  <h2> Bills In This Settlement </h2>
  <div class="owed-per-person group-info">
    <%= "Total Owed Per Person: $#{(@settlement.average_payment).round(2)}" %> </br></br>
  </div>
  <div class="bill-show-table">
    <table>
      <tr>
        <th><%= "Title" %></th>
        <th><%= "Payer" %></th>
        <th><%=  "Description" %></th>
        <th><%= "Created At" %></th>
        <th><%= "Total" %></th>
        <th><%= "OPP***" %></th>
      </tr>
      <% @bills.each do |bill| %>
        <tr>
          <td><%= bill.title %></td>
          <td><%= bill.owner.first_name %>
          <td><%= bill.description %></td>
          <td><%= bill.created_at.to_time.strftime('%B %e at %l:%M %p') %></td>
          <td><%= "$#{bill.amount}" %></td>
          <td><%= "$#{(bill.amount / bill.party_size).round(2)}" %></td>
        <% end %>
      </tr>
    </table>
    <%= "***OPP = Owed Per Person" %>
  </div>
</div>
