<h1> PAID </h1>

<div class="new-bill-form">
  <div class="form-title">
    <%= "Add User To Group" %>
  </div>

  <%= form_for :user_group do |f| %>
    <%= f.label :user %>
    <%= f.collection_select(:group, @users, :id, :first_name) %>

    <%= f.submit class: "info button" %>
  <% end %>
</div>
