<h1> PAID </h1>

<div class="new-bill-form">
  <div class="form-title">
    <%= "Update Group Form" %>
  </div>

  <%= form_for @group do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :size %>
    <%= f.text_field :size %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.submit class: "info button" %>
  <% end %>
</div>
