<h1> PAID </h1>
<div class="groups-container">
  <div class="group-name">
    <h2><%= "#{@group.name}" %> </h2>
    <%= "#{@group.description}" %>
    <%= "#{@group.size}" %>
  </div>

  <% @bills.each do |bill| %>
    <%= bill.title %>
    <%= bill.created_at.to_time.strftime('%B %e at %l:%M %p') %>
    <%= bill.description %>
    <%= "Total: $#{bill.amount}" %>
    <%= "Splits: #{bill.party_size}" %>
    <%= "Everybody Owes: $#{(bill.amount / bill.party_size).round(2)}" %>
  <% end %>

</div>

<div class="buttons-group-show">
  <%= button_to("Add Bill", new_group_bill_path(@group), method: :get, class: "button success button-group-show") %>
  <%= button_to("Update", edit_group_path(@group), method: :get, class: "button secondary button-group-show") %>
  <%= button_to("Delete", group_path(@group), method: :delete, class: "button alert button-group-show") %>
</div>
